Assia Mahboubi <assia.mahboubi@inria.fr>
Cyril Cohen <cohen@crans.org>
Enrico Tassi <gares@fettunta.org>
Laurence Rideau <Laurence.Rideau@inria.fr>
Laurent Thery <thery@sophia.inria.fr>
Georges Gonthier <gonthier@MSRC-4883327.europe.corp.microsoft.com>
Yves Bertot <Yves.Bertot@inria.fr>
