Assia Mahboubi <Assia.Mahboubi@inria.fr> <assia.mahboubi@inria.fr>
Cyril Cohen <Cyril.Cohen@inria.fr> <cohen@crans.org>
Enrico Tassi <Enrico.Tassi@inria.fr> <gares@fettunta.org>
Laurence Rideau <Laurence.Rideau@inria.fr>
Laurent Thery <Laurent.Thery@inria.fr> <thery@sophia.inria.fr>
Georges Gonthier <gonthier@microsoft.com> <gonthier@MSRC-4883327.europe.corp.microsoft.com>
Yves Bertot <Yves.Bertot@inria.fr>
